main{
    width: 100%;
    height: 100vh;
    background-color: #FFC118;
}
.container{
    max-width: 1400px;
    margin: 0 auto;

    padding: 0 30px;
    h1{
        color: #fff;
        font-size: 80px;
    }
    p{
        color: #fff;
        font-size: 30px;
        max-width: 450px;
    }
}
.login{
    font-size: 20px;
    color: #fff;
    background-color: black;
    border-radius: 40px;
    padding: 10px 25px;
}